body{
    margin: 0px;
    margin-bottom:0px;
    background-color: rgb(219, 219, 219);
    overflow-x: hidden;
}

.top1-div{
    display: flex;
    justify-content:space-between;
    background-color: black;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
}

.div1{
   color: white;
   display: flex;
}
.inspan{
    margin-top: 12.5px;
}
.img{
    padding-left: 15px;
    margin-top: 0px;
    height: 50px;
}

.div2{
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    margin-top: -10px;
    margin-right: 20px;
    flex: 0.5;
    white-space: nowrap;
    cursor: pointer;
}

.img1{
    height:35px ;
    margin-top: 20px;
}

.image{
    height: 500px;
    width: 850px;
}

.div3{
    display: flex;
    padding: 0px;
    height: 50px;
    margin-top: 5px;
    margin-left: 0px;
}
.select{
    padding-left: 7px;
   background-color: gray;
   height: 40px;
   width: 55px;
   border: 1px;
   margin-right: -4px;
   background-color: rgb(214, 207, 207);
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
}

.search{
    height: 38px;
    width: 500px;
    border: 1px;
    margin-left: 0px;
    padding-left: 7px;
}

.search_img{
    margin-top: 7px;
    margin-left: 10px;
    height: 25px;
}

.div4{
    margin-top: 10px;
    height: 55px;
}

.flag{
    margin-top:16.5px;
    height: 16px;
    width: 23px;
}

.select_lang{
    margin-bottom: 10px;
    width: 45px;
    background-color: black;
    color: white;
    font-weight: 900;
    border: none;
}

.lang{
    color: white;
}

.cart_img{
    height: 55px;
}

.div1,.div2,.div4,.div5,.div6,.div7{
    height:80%;
    align-content:center;
    padding-left:5px;
}

.div1:hover,.div2:hover,.div4:hover,.div5:hover,
.div6:hover,.div7:hover,.div2_1:hover,.div2_2:hover
{
border: solid;
border-width: 1px;
border-color: white;
cursor: pointer;
border-radius: 1.5px;
transition: 0.3s;
}

.bottom-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: rgb(35, 46, 62);
    margin-top: 70px;
}


.menu_img{
    margin-left: 5px;
    margin-top:-3.5px;
    height: 25px;
}

.div2_1{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    height: 72.5%;
    margin-left: 6px;
    color: white;
    white-space:nowrap;
    font-family:  "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700px;
}

.prime_select{
    margin-left: 0px;
    color: white;
    background: none;
    border: none;
}

.div2_2{
    padding-top: 6px;
    height:72.5%;
    color: white;
    margin-left: 45px;
    margin-right: 5px;
    white-space: nowrap;
}

.head_image{
    width: 100%;
    height: 400px;
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
   -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.prod{
    margin-left: 10px;
    position: absolute;
    top: 330px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
}

.prodimg1,.prodimg2{
    width: 250px;
    height: 250px;
}

.proddiv3 img,.proddiv4 img{
    width: 120px;
    height: 90px;
}

.proddiv1,.proddiv2,
.proddiv3,.proddiv4{
display: inline-block;
background-color:white;
border-radius: 4px;
padding: 20px;
width: 100%;
margin-left: 10px;
margin-right: 25px;
padding-right:20px;
padding-bottom: 0px;
align-items:center;
}

.pr.proddiv4{
    margin-right: 0px;
}

.prodtop{
    display: flex;
    flex-direction: row;
}

.prodbot{
    display: flex;
    flex-direction: row;
}

.para{
    width: 250px;
    display: block;
    white-space: normal;
    font-size: 21px;
    font-weight: 600;
    font-family: "Amazon Ember",Arial,sans-serif;
}

.prod a{
text-decoration: none;
font-family: "Amazon Ember",Arial,sans-serif;
font-size: 12px;
font-weight: 300px;
color: rgb(15, 17, 17);
}

.prodtop a p{
    margin-top: 1.5px;
}

.see-all-offers,.sign-in-nc{
    width: fit-content;
    margin-top: 30px;
    color: rgb(0, 113, 133);
    text-decoration: none;
    font-size: 12px;
    font-weight: 300px;
}

.see-all-offers:hover,.sign-in-nc:hover{
    color: red;
}

.todays_deal{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background-color: white;
    font-family:"Amazon Ember", Arial, sans-serif ;
    font-weight: 700;
    font-size: 21px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 760px;
    background-color: white;
    border-radius: 4px;
}

.todays_deal_products::-webkit-scrollbar,
.top-accessories-products::-webkit-scrollbar,
.top-watches-products::-webkit-scrollbar{
    height: 5px;
}

.todays_deal_products::-webkit-scrollbar-thumb,
.top-accessories-products::-webkit-scrollbar-thumb,
.top-watches-products::-webkit-scrollbar-thumb{
    background-color:none;
}

.todays_deal_products::-webkit-scrollbar:hover,
.top-accessories-products::-webkit-scrollbar:hover,
.top-watches-products::-webkit-scrollbar:hover{
    height: 2vw;
}

.todays_deal_products::-webkit-scrollbar-thumb:hover,
.top-accessories-products::-webkit-scrollbar-thumb:hover,
.top-watches-products::-webkit-scrollbar-thumb:hover{
    background-color: gray;
    cursor:hand;
    border-radius: 4px;
}

.todays_deal_products{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

.todays_deal_products a{
    margin-left: 20px;
    text-decoration: none;
}

.offer-percent{
    display: inline-block;
    background-color:rgb(204, 12, 57);
    color: white;
    width:max-content;
    padding:5.5px 4px 2px 4px;
    font-family:  "Amazon Ember",Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
    height:20px;
    align-items:center;
    border-radius: 3.5px;
}

.offer-deal{
    min-width: 200px;
}

.Deal-of-the-day{
    display: inline-block;
    margin-left: 7px;
    color: rgb(204, 12, 57);
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 12.13px;
    font-weight: bold;
}

.Deal-products{
    margin-left: 10px;
    width:250px;
    text-align: left;
   
}

.Deal-products img{
    height: 150px;
}

.today-deal-specification{
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgb(15, 17, 17);
}

.top-accessories,.top-watches{
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
padding-left: 15px;
padding-right: 15px;
padding-top: 20px;
border-radius: 4px;
background-color: white;
font-family:"Amazon Ember", Arial, sans-serif ;
font-weight: 700;
font-size: 21px;
}

.top-accessories-products,.top-watches-products{
    display: flex;
    overflow-x: scroll;
}

.top-accessories-products,.top-watches img{
    padding-right: 8px;
    padding: 7px;
}

.prod1{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;
    height: 100%;
}

.prod1 a,.sign-in-p{
    text-decoration: none;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 12px;
    font-weight: 300px;
    color: rgb(15, 17, 17);
    }
    
.prodtop a p{
        margin-top: 1.5px;
    }

.offer{
        background-color: white;
        margin: 20px;
        border-radius: 4px;
    }

.offer-image{
        height: 250px;
        padding: 20px;
        width: 97%;
    }

.sign-in{
    margin-left: 45%;
    margin-top: 30px;
}

.sign-in-button{
    display: block;
    margin-top: 2px;
    width: 210px;
    height: 30px;
    background-color: rgb(255, 211, 91);
    color: black;
    border-width: 0.7px;
    border-radius: 6px;
    border-color: orange;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 13px;
    font-weight: 1700px;
    text-decoration-color: black;
    text-shadow: rgb(255, 224, 147) 0px 1px 0px;
    cursor: pointer;
}

.sign-in-p{
    display: inline-block;
    font-size: 12px;
    margin-left: 8px;
    margin-bottom: -8px;
}

.sign-in-nc{
    margin-left: 3px;
    display: inline-block;
    margin-top: 5px;
}

.back-to-top{
    width: 100%;
    height: 30px;
    background-color: rgb(48, 61, 87);
    color: white;
    font-family: "Amazon Ember", Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 13px;
}

.about{
    display: flex;
    background-color:rgb(26, 34, 49);
    color: white;
    font-family: "Amazon Ember", Arial, sans-serif;
    justify-content: space-between;
    padding-left: 190px;
    padding-right: 190px;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 30px;
}

.about-heading{
    font-weight: bolder;
}

.get-to-know-us,.connect-with-us,
.make-money-with-us,.let-us-help-you{
    display: flex;
    flex-direction: column;
}

.about a{
    font-weight:lighter;
    font-size: 14px;
    color:rgb(204, 204, 204);
    text-decoration: none;
}

.about a:hover{
    text-decoration: underline;
}

.about-language{
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 34, 49);
    border-width:2px ;
    border-color: black;
    align-content: center;
    margin-top: 0px;
    vertical-align: middle;
    padding-bottom: 65px;
}

.amazon-logo{
    height: 50px;
    padding-top: 30px;
    margin-left: 525px;
}

.language{
    display: flex;
    flex-direction:row ;
    border-width: 1px;
    margin-top: 25px;
    margin-left: 70px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: gray;
    border-radius: 2.5px;
    align-items: center;
    height: 45px;
    vertical-align: middle;
}
.about-language-select{
    border: none;
    background-color: rgb(26, 34, 49);
    color:rgb(204, 204, 204);
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 13px;
    padding-top: 0px;
    padding-bottom: 15px;
}   

.internet-lannguage{
    margin-bottom: -5px;
}

.about-countries-top,.about-countries-bottom{
    color: rgb(204, 204, 204);
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 13px;
}

.about-countries-top{
    margin-top: 20px;
    margin-left: 280px;
    display: flex;
}

.about-countries-top a{
    margin-right: 8px;
    text-decoration: none;
    color: rgb(204, 204, 204);
}

.about-countries-bottom{
    display: flex;
    margin-left: 595px;
    margin-top: 10px;
}

.about-countries-bottom a{
    margin-right: 20px;
    text-decoration: none;
    color: rgb(204, 204, 204);
}

.about-countries-top a:hover,
.about-countries-bottom a:hover{
    text-decoration: underline;
}
